/* checkout */

#email-error{
	color: red;
	font-size: 12px;
}
#phone-error{
	color: red;
	font-size: 12px;
}
#fname-error{
	color: red;
	font-size: 12px;
}
#lname-error{
	color: red;
	font-size: 12px;
}
#apt-error{
	color: red;
	font-size: 12px;
}
#streetadd-error{
	color: red;
	font-size: 12px;
}
#city-error{
	color: red;
	font-size: 12px;
}
#postal-error{
	color: red;
	font-size: 12px;
}
#ckout_smt{
	font-size: 40px;
    border-radius: 60px;
    padding: 16px 42px;
    margin-top: 25px;
}
section.checkout:before {
	background-image: url('/img/bg-01.jpg');
    /*background-image: url("{{ asset('img/bg-01.jpg') }}");*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: '';
    width: 100%;
    height: 700px;
    z-index: -1;
}
section.checkout .checkout-headings {
    margin-top: 25px;
}
section.checkout .ck-wrapper {
	background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
}
section.checkout .ckOffer-heading {
    background-color: #122576;
	text-align: center;
    padding: 18px;
    color: #fff;
}
section.checkout .ckOffer-heading img.ckOfferIcon {
    margin-top: -8px;
    margin-right: 10px;
}
section.checkout .ckOffer-heading h3.ckOfferHead01 {
	text-transform: uppercase;
	display: inline-block;
	font-weight: 800;
	font-size: 35px;
}
.ckOffer-heading-02.text-center{
	margin: 10px;
}

section.checkout .prgress-wrapper h6 {
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #888888;
}
section.checkout .progress-title {
    margin-top: 6px;
}
section.checkout .prgress-wrapper .middle {
	padding-left: 10px;
}
section.checkout .prgress-wrapper .middle h6 {
	font-weight: 800;
    color: #0e3a88;
}
section.checkout .logo-wrapper-center {
	float: right;
}
section.checkout .prgress-wrapper .right {
	padding-left: 20px;
}
section.checkout .ckOffer-heading-02 h5 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
	font-size: 17px;
}
section.checkout .ckOffer-heading-02 h5 span {
	color: #ff4400;
}
section.checkout .ckOffer-heading-03 h5 {
	font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
	font-size: 21px;
    font-weight: 600;
}
section.checkout .ckOffer-heading-03 h5 span.ck1 {
    font-weight: 800;
}
section.checkout .ckOffer-heading-03 h5 span.ck2 {
    font-weight: 800;
    color: #ed0000;
}
section.checkout .ckOffer-heading-03 img.ck-battery {
    margin: 0 9px;
}
section.checkout .ckOffer-heading-02.text-center {
    /* margin: 24px 0; */
}
section.checkout .ckOffer-heading-04 {
    margin-top: 25px;
}
section.checkout h6.ck04-head01 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #0074ff;
}
section.checkout h3.ck04-head02 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #122576;
}
section.checkout section.offers {
    padding-bottom: 50px;
    padding-top: 15px;
}
section.checkout input[type=radio] {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}
section.checkout input~label {
    opacity: 0.4;
    transition: all 0.3s;
}
section.checkout input~label:hover {
    opacity: 1;
    transition: all 0.3s;
}
section.checkout input:checked~label {
    opacity: 1;
    transition: all 0.3s;
}
section.checkout input:hover~label {
    opacity: 1;
    transition: all 0.3s;
}
section.checkout input:checked~label:before {
	background: #0074ff;
	border: 4px solid #fff;
	background-color: #0074ff;
	box-shadow: 0 0 0 1px lightgray;
}


section.checkout label.form-check-label:before {
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left:50%;
	content: " ";
	display: inline-block;
	position: absolute;
	bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  	border: 2px solid #d9d9d9;
  	background-color: transparent;
}
section.checkout section.offers .btn-icons.text-center {
    margin-bottom: 70px;
}
section.checkout .form-check-label {
	cursor: pointer;
}
section.checkout .form-check-label-wrapper.CK-form-wrapper {
    transition: all 0.3s!important;
    z-index: 10;
}
section.checkout .form-check-label-wrapper.CK-form-wrapper:hover {
    opacity: 1 !important;
    transition: all 0.3s!important;
}
section.checkout img.logo-center-03 {
    margin-left: 8px;
}
section.checkout .logo-wrapper {
    margin-left: 15px;
    margin-top: 15px;
}
section.checkout .sec07-head05-wrap {
    margin: 10px auto;
}
section.checkout section.offers .ratings {
    margin-top: 0px;
    margin-bottom: 10px;
}
/* checkout */

/* checkout-offer */
section.checkout-offer .sec07-headings {
	display: none;
} 
/* checkout-offer */


/* checkout form */
.checkOut-form-wrapper1 {
	box-shadow: 0px 0px 5px -1px lightgray;
    position: relative;
    border: 7px solid #00000008;
    border-radius: 22px;
    overflow: hidden;
}
section.checkout .theBundles {
    padding: 0 5px;
}
.checkOut-form-wrapper1 .form-head-wrap {
    background-color: #122576;
    padding: 18px;
    color: #fff;
}
.checkOut-form-wrapper1 img.form-head-img {
    position: absolute;
    top: 9px;
    left: 0;
}
.checkOut-form-wrapper1 h6.formHead1 {
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: inline-block;
	position: relative;
    font-size: 19px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}
.checkOut-form-wrapper1 h3.formHead2 {
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
	float: right;
    font-weight: 700;
    width: 73%;
    margin-top: -1px;
}
.checkOutFormWrapper {
    padding: 0 20px;
}
section.checkout .form-check2 {
    margin-top: 15px;
	position: relative;
}
/* section.checkout input[type=radio]:checked + label.form-check-label3:after {
    border-radius: 20px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    bottom: auto;
    left: 79px;
    content: " ";
    display: block;
    background: #122576;
} */
section.checkout input:checked~label.form-check-label3:before {
	background: #122576;
	border: 3px solid #fff;
	background-color: #122576;
	box-shadow: 0 0 0 1px lightgray;
}
section.checkout input:checked~label.form-check-label3 {
	background-color:#0074ff !important;
	color: white;
}
section.checkout label.form-check-label3:before {
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: auto;
    top: 7px;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    background-color: #fff;

}
.checkOut-form-wrapper2 {
    padding: 25px 0px 0px 20px;
    padding-right: 0px;
}
.checkOut-form-wrapper2 .wrapper2 {
	padding-right: 20px;
}
.checkOut-form-wrapper2 .wrapper2 label {
    font-size: 14px;
	color: #737373;
}
.checkOut-form-wrapper2 .formControl2 {
	border-radius: 0px !important;
	height: 44px !important;
}
.checkOut-form-wrapper3 .wrapper3-imgs.text-center img {
    margin: 12px 7px 20px;
}
section.checkout .form-check-label3 {
	border: 1px solid lightgray;
    cursor: pointer;
	width: 87%;
    text-align: center;
}
section.checkout .form-check-label3 .bundles-info {
    margin-bottom: 13px;
    margin-top: 40px;
}
section.checkout .form-check-label3 h6 {
	font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
	font-size: 14px;
}
section.checkout .form-head-wrap02 {
    display: none;
}
section.checkout .form-head-wrap02.checked {
    display: block;
}
section.checkout .form-head-wrap02 {
    margin: 12px 0;
    text-transform: uppercase;
    padding: 0 25px;
}
section.checkout .form-head-wrap02 img.img-wrap02 {
    position: absolute;
    width: 105px;
    height: 30px;
}
section.checkout .form-head-wrap02 img.img-wrap03 {
    float: right;
    width: 80%;
}
section.checkout .form-head-wrap02 h6.head01-wrap02 {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 15px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 7px;
    color: #fff;
    padding-left: 14px;
}
section.checkout .form-head-wrap02 h3.head02-wrap02 {
    font-weight: 800;
	line-height: 29px;
    font-size: 29px;
    color: #122576;
}
section.checkout .form-head-wrap02 h6.head03-wrap02 {
    font-family: 'Poppins', sans-serif;
	text-transform: none;
    margin-bottom: 8px;
    font-size: 18px;
    color: #737373;
    font-weight: 400;
}
section.checkout .form-head-wrap02 h6.head04-wrap02 {
	font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    color: #737373;
    font-weight: 800;
}
section.checkout .form-head-wrap02 .price-wrapper {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    margin: 17px 0px;
    padding: 15px 0;
}
section.checkout .form-head-wrap02 h5.totalAmount {
    font-weight: 400;
    text-transform: none;
    display: inline-block;
    font-size: 30px;
    color: #122576;
}
section.checkout .form-head-wrap02 h5.totalPrice {
   	font-weight: 700;
    text-transform: none;
    display: inline-block;
    font-size: 30px;
    float: right;
    color: #122576;
}
section.checkout .checkOutFormWrapper .btn.btn-custom {
    font-size: 40px;
    border-radius: 60px;
    padding: 16px 42px;
    margin-top: 25px;
    width: 100%;
}
section.checkout .checkOutFormWrapper .btn-text-wrap {
    text-align: center;
    padding: 0 50px;
    color: #737373;
    margin: 18px 0px;
}
small.form-text.text-muted {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
}
section.checkout .checkOutFormWrapper h6.btn-text-btm {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
    line-height: 23px;
}
.btn-action-icons-btm {
    text-align: center;
}
.btn-action-icons-btm img.icons-btm1 {
    margin-right: 11px;
    margin-left: 20px;
}
.above-footer-wrapper {
    background-color: #f8f8f8;
    padding: 25px 39px;
    margin: 30px 0px;
    border-radius: 15px;
}
.above-footer-wrapper img {
    margin-right: 10px;
	float: left;
}
.above-footer-wrapper h5.abv-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    padding-top: 19px;
    letter-spacing: 0px;
}
.above-footer-wrapper .abv-par {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
}
.above-footer-wrapper .right-column {
    padding-left: 55px;
}
.iconsMobile {
    display: inline-block;
}
/* checkout form */


/*media queries*/
/* ======================================================================================== */
@media (min-width: 375px) and (max-width: 479.98px) {
	section.checkout .sec07-head05-wrap {
		margin: 5px auto;
	}
}
/* ======================================================================================== */

@media (max-width: 479.98px) {
	section.checkout:before {
	    background-position-x: -175px;
	}
	.desktopImg26 {
		display: none;
	}
	section.checkout .checkout-headings {
	    margin-top: 11px;
	}
	section.checkout .logo-wrapper {
	    margin-left: 0px;
	    margin-top: 0px;
	}
	section.checkout img.content-logo {
        margin-top: 12px;
    	width: 158px;
	}
	section.checkout .logo-wrapper-center img.logo-center-01 {
		width: 61px;
	}
	section.checkout .logo-wrapper-center img.logo-center-02 {
    	margin-left: -3px;
        width: 54px;
	}
	section.checkout .logo-wrapper-center img.logo-center-03 {
		margin-left: 2px;
	    width: 47px;
	}
	section.checkout .prgress-wrapper.text-center {
	    margin-top: 15px;
	}
	section.checkout .progress-title .left h6 {
		    width: 84px;
	}
	section.checkout section.checkout-offer .container {
		padding: 0;
	}
	section.checkout section.checkout-offer section.offers .container {
	    padding: 0 15px !important;
	}
	section.checkout .ck-wrapper {
	    border-radius: 0;
	}
	section.checkout .ckOffer-heading h3.ckOfferHead01 {
	    line-height: 31px;
	    font-size: 29px;
	}
	section.checkout .ckOffer-heading img.ckOfferIcon {
	    margin-right: 5px;
	    margin-left: -33px;
	}
	section.checkout .ckOffer-heading-02.text-center {
	    margin: 15px 0 15px;
	    /* padding: 0 28px; */
	}
	section.checkout .ckOffer-heading-03.text-center {
	    padding: 0 24px;
	}
	section.checkout .ckOffer-heading-02 h5 {
		font-size: 15px;
	    line-height: 24px;
	}
	section.checkout .ckOffer-heading-03 h5 {
	    line-height: 35px;
	}
	section.checkout h3.ck04-head02 {
	    line-height: 39px;
	    margin-top: 10px;
	}
	section.checkout section.offers .sec07-bundle-01 .sec07-head05-wrap h4 {
	    font-size: 14px;
	}
	section.checkout section.offers h6.sec07-head03-p {
	    font-weight: 800;
	    font-size: 23px;
	}
	section.checkout section.offers h2.sec07-head04.left {
		font-size: 44px !important;
	    letter-spacing: -2px;
	}
	section.checkout section.offers .btn-icons.text-center {
	    margin-bottom: 25px;
	}
	section.checkout section.offers .sec07-bundle-01 {
	    margin-bottom: 15px;
	}
	.form-edits {
	    width: 100%;
	}
	.iconsMobile {
	    margin-bottom: 38px;
		width: 100%;
	}
	.checkOutFormWrapper .bundles-right-mobile {
	    max-width: 100%;
	    width: 100%;
	    flex: 100%;
	}
	section.checkout .form-check-label3 .bundles-info {
        margin-bottom: 8px;
	    margin-top: 8px;
	    text-align: left;
	    padding-left: 55px;
	}
    section.checkout .form-head-wrap02 h3.head02-wrap02 {
	    line-height: 26px;
	    font-size: 25px;
	}
	section.checkout .form-head-wrap02 .price-wrapper {
	    padding-bottom: 8px !important;
	}
	section.checkout .form-head-wrap02 h5.totalAmount {
	    font-size: 23px;
	}
	section.checkout .form-head-wrap02 h5.totalPrice {
	    font-size: 27px;
	    margin-top: -4px;
	}
	.checkOut-form-wrapper3 .wrapper3-imgs.text-center img {
	    margin: 12px 7px 0px;
	}
	.checkOut-form-wrapper3 .wrapper3-imgs.text-center img:nth-child(1) {
		width: 35%;
	}
	.checkOut-form-wrapper3 .wrapper3-imgs.text-center img:nth-child(2) {
		width: 20%;
	}
	.checkOut-form-wrapper3 .wrapper3-imgs.text-center .iconsMobile img:nth-child(1) {
		width: 25%;
	}
	.checkOut-form-wrapper3 .wrapper3-imgs.text-center .iconsMobile img:nth-child(2) {
		width: 31%;
	}
	.checkOut-form-wrapper1 h3.formHead2 {
	    font-size: 20px;
    	width: 69%;
	    margin-top: 3px;
	}
	.checkOutFormWrapper {
	    padding: 0px;
	}
	.checkOut-form-wrapper1 {
	    position: relative;
	    border: none;
	    border-radius: 0px;
	    overflow: hidden;
	}
	.checkOut-form-wrapper2 {
	    padding: 25px 0px 0px 25px;
	    padding-right: 0px;
	}
	.checkOut-form-wrapper2 .wrapper2 {
	    padding-right: 25px;
	}
	small.form-text.text-muted {
	    letter-spacing: -0.5px;
	}
	section.checkout label.form-check-label3:before {
	    left: 47px;
        background-color: #fff;
        top: 13px;
	}
	/* section.checkout input[type=radio]:checked + label.form-check-label3:after {
        left: 45px;
    	top: 20px;
    	width: 12px;
    	height: 12px;
	} */
	section.checkout .form-check-label3 h6 {
	    display: inline-block;
	    font-size: 13px;
	    margin-right: 12px;
	}
	section.checkout .form-head-wrap02 img.img-wrap03 {
	    width: 100%;
	}
	section.checkout .checkOutFormWrapper .btn.btn-custom {
	    font-size: 25px;
	}
	section.checkout .checkOutFormWrapper .btn-text-wrap {
	    padding: 0px 16px;
	}
	.above-footer-wrapper {
	    padding: 25px 20px 25px 8px;
	}
	.btn-action-icons-btm img.icons-btm1 {
	    margin-right: 3px;
	    margin-left: 6px;
	}
	.above-footer-wrapper .right-column {
	    padding-left: 0;
	    margin-top: 15px;
	}
	.above-footer-wrapper .abv-par {
	    margin-left: 92px;
	}
	.left-column img {
	    margin-top: 20px;
	}

	section.checkout .offers-mobile-view .btn-wrapper {
		margin-bottom: 58px;
	}
}
/* ======================================================================================== */

@media (min-width: 480px) {
  	.mobileImg26 {
		display: none;
	}
}
/* ======================================================================================== */

@media (min-width: 480px) and (max-width: 767.98px) {
	section.checkout .sec07-head05-wrap {
		margin: 5px auto;
	}
	section.checkout:before {
	    background-position-x: -175px;
	}
	section.checkout .checkout-headings {
	    margin-top: 15px;
	}
	section.checkout img.content-logo {
	    width: 175px;
	}
	section.checkout .logo-wrapper-center img.logo-center-01 {
		width: 75px;
	}
	section.checkout .logo-wrapper-center img.logo-center-02 {
	    width: 65px;
	}
	section.checkout .logo-wrapper-center img.logo-center-03 {
	    width: 58px;
	}
	section.checkout .prgress-wrapper.text-center {
	    margin-top: 15px;
	}
	section.checkout .prgress-wrapper.text-center img {
	    width: 370px;
	}
	section.checkout .ckOffer-heading-02.text-center {
	    margin: 24px 0 15px;
	    /* padding: 0 28px; */
	}
	section.checkout .ckOffer-heading-03.text-center {
	    padding: 0 40px;
	}
	section.checkout .ckOffer-heading-02 h5 {
	    line-height: 24px;
	}
	section.checkout .ckOffer-heading-03 h5 {
	    line-height: 35px;
	}
	section.checkout h3.ck04-head02 {
	    line-height: 39px;
	    margin-top: 10px;
	}
	section.checkout section.offers .sec07-bundle-01 .sec07-head05-wrap h4 {
	    font-size: 14px;
	}
	section.checkout section.offers h6.sec07-head03-p {
	    font-weight: 800;
	    font-size: 25px;
	}
	section.checkout section.offers h2.sec07-head04.left {
	    font-size: 51px !important;
    	letter-spacing: -2px;
	}
	section.checkout section.offers .btn-icons.text-center {
	    margin-bottom: 25px;
	}
	.form-edits {
	    width: 100%;
	}
	.checkOut-form-wrapper1 h3.formHead2 {
	    font-size: 23px;
    	width: 69%;
	    margin-top: 3px;
	}
	.checkOutFormWrapper {
	    padding: 0 8px;
	}
	/* section.checkout label.form-check-label3:before {
	    left: 58px;
	} */
	/* section.checkout input[type=radio]:checked + label.form-check-label3:after {
	    left: 62px;
	} */
	section.checkout .form-check-label3 h6 {
	    font-size: 12px;
	}
	section.checkout .form-head-wrap02 img.img-wrap03 {
	    width: 100%;
	}
	section.checkout .checkOutFormWrapper .btn.btn-custom {
	    font-size: 33px;
	}
	.above-footer-wrapper .right-column {
	    padding-left: 0;
	    margin-top: 15px;
	}
	.above-footer-wrapper .abv-par {
	    margin-left: 92px;
	}
	.left-column img {
	    margin-top: 20px;
	}


	section.checkout .offers-mobile-view .btn-wrapper {
		margin-bottom: 58px;
	}

}
/* ======================================================================================== */

@media (max-width: 767.98px) {

}

@media (min-width: 768px) {

}
/* ======================================================================================== */

@media (max-width: 991.98px) {

}
/* ======================================================================================== */

@media (min-width: 768px) and (max-width: 991.98px) {

	section.checkout .checkout-headings {
	    margin-top: 15px;
	}
	section.checkout .prgress-wrapper.text-center {
	    margin-top: 10px;
	}
	section.checkout section.offers .sec07-bundle-01, section.checkout section.offers .sec07-bundle-03 {
	    margin-top: 30px;
	}
	section.checkout section.offers {
	    padding-top: 0px;
	}
	section.checkout .prgress-wrapper .left {
	    padding-left: 60px;
	}
	section.checkout .prgress-wrapper .right {
	    text-align: left;
	    padding-left: 54px;
	}
	section.checkout section.offers h6.sec07-head03-p {
	    margin-top: 0px;
	    font-size: 40px;
	}
	section.checkout section.offers h2.sec07-head04.right,
	section.checkout section.offers h2.sec07-head04.left {
	    font-size: 65px;
	}
	section.checkout section.offers h2.sec07-head04 span.sp1 {
	    font-size: 37px;
	}
	section.checkout section.offers .btn-action.text-center {
	    margin: 20px 0 25px;
	}
	section.checkout section.offers .btn-icons.text-center {
	    margin-bottom: 35px;
	}
	.checkOut-form-wrapper1 {
	    margin-bottom: 20px;
	}

	section.checkout .checkOutFormWrapper .btn-action.text-center {
	    margin: 0;
	    padding: 0;
	}
	section.checkout .checkOutFormWrapper .btn.btn-custom {
	    font-size: 40px;
	    border-radius: 60px;
	    padding: 16px 42px;
	    margin-top: 0px;
	}
	.above-footer-wrapper .right-column {
	    padding-left: 0;
	    margin-top: 15px;
	}

}
/* ======================================================================================== */

@media (min-width: 992px) {

}
/* ======================================================================================== */

@media (min-width: 992px) and (max-width: 1199.98px) {

	section.checkout .logo-wrapper-center img.logo-center-01 {
		width: 75px;
	}
	section.checkout .logo-wrapper-center img.logo-center-02 {
	    width: 65px;
	}
	section.checkout .logo-wrapper-center img.logo-center-03 {
	    width: 58px;
	}
	.ckOffer-heading-02.text-center {
	    /* padding: 0 35px; */
	}
	section.checkout .ckOffer-heading-02 h5 {
	    line-height: 24px;
	}

	.form-edits {
	    width: 100%;
	}
	.checkOut-form-wrapper1 h3.formHead2 {
	    font-size: 25px;
	    width: 69%;
	    margin-top: 3px;
	}
	.checkOut-form-wrapper2 .wrapper2 label {
	    font-size: 11px;
	}
	section.checkout .form-check-label3 h6 {
	    font-size: 12px;
	}
	section.checkout .form-head-wrap02 h5.totalAmount {
	    font-size: 24px;
	}
	section.checkout .form-head-wrap02 h5.totalPrice {
	    font-size: 27px;
	    margin-top: -5px;
	}
	section.checkout .checkOutFormWrapper .btn.btn-custom {
	    font-size: 33px;
	}
	#ckout_smt{
		font-size: 33px;
	}
	/* section.checkout label.form-check-label3:before {
	    left: 58px;
	} */
	/* section.checkout input[type=radio]:checked + label.form-check-label3:after {
	    left: 62px;
	    top: 11px;
	} */
	section.checkout .form-head-wrap02 img.img-wrap03 {
	    width: 100%;
	}
}
/* ======================================================================================== */

@media (min-width: 1200px) {
	section.checkout .container,
	section.terms .container {
	    max-width: 1200px;
	}
}
/* ======================================================================================== */

@media (min-width: 1366px) {

}
/* ======================================================================================== */

@media (min-width: 1680px) {

}
/* ======================================================================================== */

@media (min-width: 1920px) {
  
}
/* ======================================================================================== */

@media (min-width: 2568px) {
  
}
/* ======================================================================================== */

/*media queries